header {
    background-image: url("../Illustrations/Home/Bathome1.png");
    background-size: cover;
    height: 127vh;
}

.intro {
    padding: 16% 0%;
    text-align: center;
    font-size: 20px;
}

.active {
    text-decoration: underline;
    font-weight: bold;
}

main,
.footer-part2 {
    background-color: black;
}

main .description-batman,
.nemesis-home,
.multimedia {
    padding: 0 13%;
}

main .img-slider {
    background-image: url("../Illustrations/Home/Batslider1.png");
    height: 85vh;
    background-repeat: no-repeat;
}

main .presentation-batman {
    background-image: linear-gradient(to right bottom, #aaa397, #95988a, #818c81, #6d807a, #5d7374, #536d72, #4a6671, #445f6f, #3b5d72, #325c76, #275a79, #19587d);
}

.btn {
    padding: 18px 50px;
    font-family: 'Rajdhani';
    font-size: 20px;
    color: var(--white-color);
}

footer .footer-part1 {
    background-color: var(--grey-color);
    height: 90vh;
    padding: 0 20%;
}

footer .footer-part2 {
    height: 90vh;
    text-align: center;
    padding: 0 20%;
}

.icone-footer {
    padding: 15px;
}

footer .menu-footer li img {
    align-items: center;
}